.recipe {
	display: block;
	width: 100%;
	max-width: 500px;
	margin: 0.25rem auto;
	padding: 1.5rem;
	text-align: center;
	background-color: #eed6c4;
	border-radius: 15px;
}

.recipeTitle {
	margin-bottom: 2rem;
}

.recipeImg {
	margin: 1.5rem auto;
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 300px;
	border-radius: 15px;
}

.descriptionContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	gap: 1rem;
}

.recipeDescription {
	padding-right: 1rem;
	font-size: 1.1rem;
	font-weight: bold;
	border-right: 2px solid black;
}

.recipeDescription:last-child {
	border: none;
	padding-right: 0;
}

.recipe ul {
	max-width: 35%;
	margin: 2rem auto;
}

.recipe ul li {
	line-height: 2;
}

.recipe a {
	display: block;
	margin: 0.5rem 0;
	text-decoration: none;
	font-weight: bold;
}

.edit {
	color: green;
}

.delete {
	margin-top: 1rem;
	font-weight: bold;
	color: rgb(190, 10, 10);
	cursor: pointer;
}

.warning {
	padding: 1%;
	background-color: rgb(245, 182, 182);
	border-radius: 15px;
	font-weight: bold;
	font-size: 1.5rem;
	color: red;
	text-align: center;
}
